body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  transition: all 0.2s linear;
}

* {
  transition: all 0.2s linear;
}

/* navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 120px;
  padding-bottom: 10px;
}
.nav-title {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
.nav-title:hover {
  color: #e02c6d;
}

nav ul {
  display: flex;
  gap: 34px;
  align-items: center;
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
}

nav ul li:hover {
  transform: translateY(5px);
}
nav ul li a {
  text-decoration: none;
  color: #3a3a3a;
}
/* banner section styles */
.banner-container {
  display: flex;
  justify-content: space-between;
  padding: 120px;
}
.banner-title {
  color: #3a3a3a;
  font-size: 4.25rem;
  font-weight: 700;
  line-height: 4.375rem;
}
.banner-description {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  margin-top: -30px;
}
.banner-img img {
  position: relative;
  left: 80px;
  top: 30px;
  width: 440px;
  height: 414px;
}
.banner-img {
  background: url("assets/images/Circle.svg");
  background-repeat: no-repeat;
  background-position: top;
  width: 600px;
  height: 600px;
}
.btn-prebook {
  border-radius: 41px;
  background: #e02c6d;
  color: #fff;
  padding: 10px 24px;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s linear;
}
.btn-prebook:hover {
  background: #9e1f4d;
}
.banner-logo {
  display: flex;
  justify-content: space-around;
  padding: 0px 100px;
  margin-top: -150px;
}
.banner-logo img {
  filter: grayscale(100%);
}
.banner-logo img:hover {
  filter: grayscale(0%);
  transform: scale(1.4);
}
/* main section styles */
.content-title {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
  margin-top: 100px;
}
.card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 476px;
  padding: 15px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 0px;
  justify-items: center;
  padding: 10px 350px;
}
.card-title {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.item-price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%; /* 36px */
  margin-top: -20px;
}
.item-rating {
  color: #5e6366;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.1px;
  margin-top: -20px;
}
.item-description {
  color: #787885;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 143%; /* 20.02px */
  letter-spacing: 0.252px;
  margin-top: -10px;
  width: 170px;
}
/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px) {
  nav,
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    padding-left: 0px;
  }
  .nav-title {
    text-wrap: nowrap;
  }
  .banner {
    text-align: center;
  }
  .banner-title {
    font-size: 1.75rem;
    text-wrap: nowrap;
    line-height: normal;
  }
  .banner-description {
    font-size: 0.875rem;
    margin-top: 30px;
    text-wrap: nowrap;
  }
  .banner-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner-img {
    margin-top: -90px;
    width: 257px;
    height: 257px;
    border-radius: 257px;
    background: none;
    border: 3px solid #f1e4ff;
  }
  .banner-img img {
    width: 202px;
    height: 190px;
    position: relative;
    left: 0px;
  }
  .btn-prebook {
    margin: auto;
  }
  .banner-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    padding: 80px 5px;
  }
  .banner-logo img {
    width: 60px;
  }
  .content-title{
    text-wrap: nowrap;
    font-size: 1rem;
    margin-top: -50px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* tablet devices */
@media screen and (min-width: 576px) and (max-width: 996px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    padding-left: 0px;
  }
  .nav-title {
    text-wrap: nowrap;
    font-size: 3rem;
  }
  .banner {
    text-align: center;
  }
  .banner-title {
    font-size: 2.75rem;
    text-wrap: nowrap;
    line-height: normal;
  }
  .banner-description {
    font-size: 0.875rem;
    margin-top: 30px;
  }
  .banner-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner-img {
    margin-top: -70px;
    width: 357px;
    height: 357px;
    border-radius: 257px;
    background: none;
    border: 3px solid #f1e4ff;
  }
  .banner-img img {
    width: 302px;
    height: 290px;
    position: relative;
    left: 0px;
  }
  .btn-prebook {
    margin: auto;
  }
  .banner-logo {
    flex-wrap: wrap;
    width: 480px;
    gap: 20px;
    margin: -50px auto;
  }
}
